<!DOCTYPE html>
<html>
  <head>
    <title>AdsBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <%= stylesheet_pack_tag 'index', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
